html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
  padding-bottom: 40px;
  font-size: 14px;
}

.container {
  width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-weight: bold;
}

hr {
  margin: 0 0 5px 0;
  border-top: 1px solid #aaa;
}

p {
  margin: 0px;
}

a:focus {
  outline: 0;
}

.profile-pic {
  display: none;
}

#news-list li {
  margin-bottom: 10px;
}

#pub-list li {
  margin-bottom: 10px;
}

#bibbase div[style] {
  display: none;
}