<p>
  I am a Software Engineer at <a href="https://www.fortanix.com">Fortanix</a> working with privacy-preserving
  technologies to enable secure cloud computing.
  Before joining Fortanix, I received a Ph.D. degree from Purdue University, a Master's degree from New York University,
  and a Bachelor's degree from the University of Manchester.
</p>
<p>
  My research interests include Information Security, Trusted Computing, Distributed Systems, and Cloud Computing with
  an emphasis on secure and efficient distributed computations. In my free time, I enjoy swimming, scuba diving, and
  hiking.
</p>
<p>
  You can find my resume <a href="{{ site.url }}{{ site.baseurl }}/assets/resume.pdf">here</a>.
</p>