<article class="card" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="card-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <h4 class="post-meta">{{ page.summary }}</h4>
    <p class="post-summary">
      Posted by: {{ site.author }}
      on
      <time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    </p>
    <div class="post-categories">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}

      {% capture categories %}{% for category in categories %}{{ category }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
      {% assign sortedcategories = categories | split:',' | sort %}

      Categories:
      {% for category in sortedcategories %}
        <a href="{% link categories.html %}#{{category | slugify}}">{{category}}</a>{% unless forloop.last %},{% endunless %}
      {% endfor %}
    </div>
  </div>

  <div class="card-body" itemprop="articleBody"> {{ content }}</div>
</article>

<div class="card">
  <a href="{% link blog/index.html %}">← Back to blog</a>
</div>