<nav class="navbar navbar-expand-md fixed-top navbar-dark" id="topNav">
    <button
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarNav"
            data-toggle="collapse"
            type="button"
    >
        <span class="icono-hamburger" id="navbar-hamburger"> </span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            {% for i in site.urls %}
            <li class="nav-item">
                <a class="nav-link" href="{{ site.url}}{{site.baseurl}}{{ i.url }}">
                    {{ i.text }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
